@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #0d1117;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.content-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 350px;
}

.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
}

.cabecalho img {
    max-width: 50px;
    margin-top: 25px;
}

.cabecalho h2 {
    font-weight: 100;
    margin: 25px 0 20px 0;
}

.formul .wrapper {
    background: #161b22;
    color: #fff;
    width: 350px;
    padding: 20px 15px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, .1);
}

.wrapper .input-box, 
.input-box-link {
    font-size: 13px;
    width: 100%;
}

.input-box input,
.input-box-link input {
    width: 100%;
    height: 32px;
    background: #0d1117;
    border-radius: 5px;
    border: none;
    outline: none;
    margin: 15px 0;
    border: 1px solid rgba(255, 255, 255, .1);
    color: #fff;
    padding: 0 0 0 10px;
}

.input-box-link a {
    text-decoration: none;
    color: #2f81f7; 
}

.input-box input:focus, .input-box-link input:focus{
    border: 2px solid #2f81f7;
}

.btn {
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    background: #26a641;
    font-size: 14px;
    cursor: pointer;
}

.btn:hover {
    background: #39d353;
}

.register {
    width: 100%;
    margin: 15px 15px;
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 5px;
    padding: 15px 15px;
    text-align: center;
    font-size: 14px;
}

.register p {
    color: #fff;
}

.register a {
    text-decoration: none;
    color: #2f81f7;
}

.register a:hover {
    text-decoration: underline;
}

.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 60px;
}

.links li {
    list-style: none;
}


.links li a {
    text-decoration: none;
    font-size: 13px;
    color: #2f81f7;
}

.links li a:hover {
    text-decoration: underline;
}